@import '~styles/theme/variables';

.cards-container {
  align-items: center;
  display: flex;
  height: calc(100vh - 188px);
  justify-content: center;
  padding: 24px;

  .card {
    margin: 16px 0;

    &:first-of-type {
      margin-top: 0;
    }

    .header {
      position: relative;

      .author {
        color: $lightFontColor;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;

        .author-nick {
          color: $secondaryColor;
        }
      }

      .created {
        color: $primaryColor;
        font-size: 10px;
        line-height: 12px;
        position: absolute;
        right: 5px;
        top: 5px;
      }

      .reddit-url {
        word-break: break-word;
      }
    }

    .content {
      color: $lightFontColor;
      font-size: 10px;
      line-height: 12px;
    }

    .actions {
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 16px;
    }
  }
}