<smp-filter></smp-filter>

<div class="cards-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <perfect-scrollbar
    *ngIf="!isLoading"
    (psYReachEnd)="onReachYEnd()"
  >
    <mat-card
      *ngFor="let reddit of reddits; trackBy: trackByFn"
      class="card"
    >
      <div class="header">
        <p class="author">
          Poste by
          <span class="author-nick">
            {{ reddit.data.author }}
          </span>
        </p>
        <mat-card-title>
          {{ reddit.data.title }}
        </mat-card-title>
        <mat-card-subtitle>
          <a
            [href]="reddit.data.url"
            class="reddit-url"
            target="_blank"
          >
            {{ reddit.data.url }}
          </a>
        </mat-card-subtitle>

        <span class="created">
          {{ timeFrom(reddit.data.created_utc) }}
        </span>
      </div>

      <div class="content">
        <img
          *ngIf="hasThumbnail(reddit.data.thumbnail)"
          [src]="reddit.data.thumbnail"
          alt="image"
        >

        <div>
          <span>
            {{ reddit.data.num_comments }} comments
          </span>
          <span>
            /
          </span>
          <span>
            {{ reddit.data.score }} score
          </span>
        </div>
      </div>

      <div class="actions">
        <button
          (click)="selectReddit(reddit)"
          color="accent"
          mat-raised-button
        >
          More
        </button>
      </div>
    </mat-card>
  </perfect-scrollbar>
</div>
