<div class="comment-container">
  <p class="header">
    <span class="author">
      {{ comment.author }}
    </span>
    -
    <span class="created">
      {{ timeFrom(comment.created_utc) }}
    </span>
  </p>
  <p class="body">
    {{ comment.body }}
  </p>

  <div *ngIf="comment.replies">
    <div *ngFor="let nestedComment of comment.replies; trackBy: trackByFn">
      <smp-comment
        *ngIf="nestedComment.kind === 't1'"
        [comment]="nestedComment"
      ></smp-comment>
    </div>
  </div>

</div>