@import '~styles/theme/variables';

.comment-container {
  border-left: 1px solid $commentBackground;
  margin: 5px;
  padding: 5px;
  position: relative;

  &:hover {
    background-color: $commentBackground;
  }

  .header {
    font-size: 10px;
    line-height: 12px;

    .author {
      color: $secondaryColor;
    }

    .created {
      color: $primaryColor;
    }
  }

  .body {
    color: $lightFontColor;
    font-size: 14px;
    line-height: 16px;
  }
}