<mat-toolbar color="primary">
    <button
      *ngIf="redditService.activeMode === ACTIVE_MODE.DETAILS"
      (click)="backToList()"
      mat-icon-button
      class="back-icon"
    >
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </button>

    <span class="mode">
      {{ redditService.activeMode }}
    </span>
</mat-toolbar>

<router-outlet></router-outlet>