@import '~styles/theme/variables';
@import '~styles/base/media';

.container {
  display: flex;
  flex-wrap: wrap;

  .chip {
    align-items: center;
    background: $lightBackground;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    justify-content: center;
    line-height: 14px;
    margin: 3px;
    padding: 4px 5px;
    text-transform: capitalize;

    @include tablet-and-up {
      font-size: 14px;
      line-height: 16px;
      margin: 4px;
      padding: 7px 12px;
    }

    &:hover {
      background-color: $secondaryHoverColor;
    }
  }

  .selected {
    background-color: $secondaryColor;
    color: $lightBackground;
  }
}