@import '~styles/theme/variables';

.section-header {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 6px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 16px;
  height: calc(100vh - 80px);

  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .info-details {
      display: flex;

      .left,
      .right {
        flex: 1;
      }
    
      .left {
        justify-content: flex-end;
      }
    
      .right {
        justify-content: flex-start;
      }
    
      .field {
        margin: 3px 0;

        .title {
          color: $lightFontColor;
          font-size: 12px;
          line-height: 14px;
        }
    
        .value {
          color: $moinFontColor;
          font-size: 16px;
          line-height: 18px;
          word-break: break-word;
        }
      }
    }
  }
}

.no-comments {
  color: $lightFontColor;
  font-size: 12px;
  line-height: 14px;
  margin-top: 6px;
}

.comment-box {
  margin: 10px;
  position: relative;
}