<mat-card class="card">
  <perfect-scrollbar>
    <div class="info">
      <span class="section-header">
        Reddit Info
      </span>

      <div class="info-details">
        <div class="left">
          <p class="field">
            <span class="title">
              ID:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.id }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Title:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.title }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Author:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.author }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Selftext:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.selftext }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Subreddit:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.subreddit }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Url:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.url }}
            </span>
          </p>
          <p class="field">
            <span class="title">
              Name:
            </span>
            <span class="value">
              {{ redditService.activeReddit.data.name }}
            </span>
          </p>
        </div>

        <div
          *ngIf="hasThumbnail(redditService.activeReddit.data.thumbnail)"
          class="right"
        >
          <img
          [src]="redditService.activeReddit.data.thumbnail"
          alt="thumbnail"
          >
        </div>
      </div>
    </div>

    <div class="comments">
      <span class="section-header">
        Comments:
      </span>

      <p
        *ngIf="!comments.length"
        class="no-comments"
      >
        There are no comments yet
      </p>
      <div
        *ngFor="let comment of comments; let i = index; trackBy: trackByFn"
        class="comment-box"
      >
        <smp-comment
          *ngIf="comment.kind === 't1'"
          [comment]="comment"
        ></smp-comment>
      </div>
    </div>
  </perfect-scrollbar>
</mat-card>