<mat-radio-group
  *ngIf="sortType"
  [(ngModel)]="sortType"
  (ngModelChange)="typeChanged()"
>
  <mat-radio-button value="new">
    New
  </mat-radio-button>
  <mat-radio-button value="hot">
    Hot
  </mat-radio-button>
</mat-radio-group>