@import '../node_modules/@angular/material/theming';
@include mat-core();

$mat-blue: (
  50 : #eceff2,
  100 : #d0d6df,
  200 : #b1bbca,
  300 : #91a0b5,
  400 : #7a8ba5,
  500 : #627795,
  600 : #5a6f8d,
  700 : #506482,
  800 : #465a78,
  900 : #344767,
  A100 : #b6d0ff,
  A200 : #83b0ff,
  A400 : #508fff,
  A700 : #367fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-red: (
  50 : #f5e8e8,
  100 : #e6c5c6,
  200 : #d69ea0,
  300 : #c6777a,
  400 : #b95a5e,
  500 : #ad3d41,
  600 : #a6373b,
  700 : #9c2f32,
  800 : #93272a,
  900 : #831a1c,
  A100 : #ffbcbd,
  A200 : #ff898b,
  A400 : #ff5659,
  A700 : #ff3c40,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-warn: (
  50 : #fbefef,
  100 : #f5d7d7,
  200 : #eebcbc,
  300 : #e7a1a1,
  400 : #e18c8c,
  500 : #dc7878,
  600 : #d87070,
  700 : #d36565,
  800 : #ce5b5b,
  900 : #c54848,
  A100 : #ffffff,
  A200 : #ffeaea,
  A400 : #ffb7b7,
  A700 : #ff9d9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-red);
$custom-theme-warn: mat-palette($mat-warn);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
