// fonts
$mainFont: 'Roboto', "Helvetica Neue", sans-serif;

$primaryColor: #627795;
$secondaryColor: #ad3d41;
$secondaryHoverColor: rgba(173, 61, 65, 0.1);

$moinFontColor: rgb(0, 0, 0);
$lightFontColor: rgba(0, 0, 0, 0.54);

$mainBacground: #DAE0E6;
$lightBackground: #ffffff;

// comment
$commentBackground: rgba(128, 128, 128, 0.1);